<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.edu.prj.member.mapper.MemberMapper">
	<select id="memberSelectList">
	
	</select>
	<select id="memberSelect" resultType="co.edu.prj.member.vo.MemberVO">
		SELECT * FROM MEMBERS
		WHERE ID = #{id}
	</select>
	<insert id="memberInsert">
		INSERT INTO MEMBERS
		VALUES(#{id},#{passwd},#{name},#{email},'user')
	</insert>
	<delete id="memberDelete">
	
	</delete>
	<update id="memberUpdate">
	
	</update>
	
	<select id="memberLogin" resultType="co.edu.prj.member.vo.MemberVO">
		SELECT * FROM MEMBERS
		WHERE ID = #{id} AND PASSWD = #{passwd}
	</select>
	
	<select id="isMemberIdCheck" resultType="boolean">
		SELECT CASE WHEN COUNT(ID) = 1 THEN 0 ELSE 1 END AS ID
		FROM MEMBERS WHERE ID = #{id}
	</select>
</mapper>