<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.edu.prj.book.mapper.BookMapper">
	<select id="bookSelectList" resultType="co.edu.prj.book.vo.BookVO">
		SELECT * FROM BOOK_INFO
	</select>

	<select id="bookSelect"	resultType="co.edu.prj.book.vo.BookVO">
		SELECT * FROM BOOK_INFO ORDER BY BOOK_CODE DESC
		WHERE BOOK_CODE = #{bookCode}
	</select>
	
	<insert id="bookInsert" parameterType="co.edu.prj.book.vo.BookVO">
		INSERT INTO BOOK_INFO 
		VALUES(BOOK_SEQ.NEXTVAL, #{bookTitle}, #{bookAuthor}, #{bookPress}, #{bookPrice})
	</insert>
	
	<delete id="bookDelete" parameterType="co.edu.prj.book.vo.BookVO">
		DELETE FROM BOOK_INFO 
		WHERE BOOK_CODE = #{bookCode}
	</delete>
	
	<update id="bookUpdate" parameterType="co.edu.prj.book.vo.BookVO">
		UPDATE BOOK_INFO 
		SET BOOK_TITLE = #{bookTitle}, 
			BOOK_AUTHOR = #{bookAuthor}, 
			BOOK_PRESS = #{bookPress}, 
			BOOK_PRICE = #{bookPrice} 
		WHERE BOOK_CODE = #{bookCode}
	</update>
	
</mapper>